body{
    text-align: center;
}

.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1.5rem;
}
.btn-conatiner{
    display: flex;
    justify-content: center;
}

.red{
 background-color: #d24c4c;
}
.green{
    background-color: #236323;
}
.yello{
    background-color: #e3e354;
}
.black{
    background-color: #010100;
}
.flash{
    background-color: #ffffff;
}
.userFlash{
    background-color: #2a3d98;
}